<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW POST</title>
</head>
<body>

    <form method="post" action="/posts">
        <label>Name:</label> <br>
        <input type="text" name="name"> <br><br>

        <label>title:</label> <br>
        <input type="text" name="title"> <br><br>

        <label>message:</label> <br>
        <textarea name="message" style="height: 150px; width: 600px"></textarea> <br><br>

        <button style="background-color: rgb(242, 93, 93); color: white">Submit</button>
    </form>
    
</body>
</html>